<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="messagingContentTypes" type="Altus.Core.Messaging.ContentTypesSection, Core"/>
    <section name="mspPipeline" type="Altus.Core.Processing.Msp.MspProcessorsSection, Core"/>
    <section name="rpcPipeline" type="Altus.Core.Processing.Rpc.RpcProcessorsSection, Core"/>
    <section name="componentLoader" type="Altus.Core.Component.ComponentLoaderSection, Core"/>
  </configSections>
  <appSettings>
    <add key="ShellAssembly" value="ModelEx"/>
    <add key="Instance" value="ModelEx"/>
    <add key="InjectionPath" value="Injections"/>
    <add key="DebugInjections" value="true"/>
    <add key="TempDir" value="Temp"/>
    <add key="MetaDataContextLogging" value="false"/>
    <add key="ObjectLogLimit" value="5242880"/>
    <add key="ObjectLogCount" value="2"/>
    <add key="AppUpdateGroup" value="239.10.10.10:9999"/>
    <add key="UpdateRetry" value="0"/>
    <add key="MSBuildConfiguration" value="Debug|AnyCPU"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <messagingContentTypes>
    <contentTypes>
      <add contentType="application/octet-stream" extension="*"/>
    </contentTypes>
  </messagingContentTypes>
  <mspPipeline>
    <processors>
      <!--<add typeName="foo.bar, foo" priority="1"/>-->
    </processors>
  </mspPipeline>
  <rpcPipeline>
    <processors>
      <!--<add typeName="foo.bar, foo" priority="1"/>-->
    </processors>
  </rpcPipeline>
  <componentLoader>
    <coreAssemblies>
      <add assembly="Core" path="" priority="1"/>
      <add assembly="ModelEx" path="" priority="2"/>
    </coreAssemblies>
    <discoveryPaths>
      <add path="Apps" recurse="true"/>
    </discoveryPaths>
  </componentLoader>
  <system.diagnostics>
    <switches>
      <!--This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information-->
      <add name="TraceLevelSwitch" value="2"/>
    </switches>
  </system.diagnostics>
</configuration>
